* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url(images/pergament.jpg);
}

.myTable {
  text-align: center;
  vertical-align: middle;
  margin: 10% 5% 0 5%;
  color: rgb(215, 216, 226);
}

.header {
  text-transform: uppercase;
  font-size: 30px;
  background-color: rgba(16, 97, 247, 0.534);
}

.aboutBlock {
  background-color: rgba(188, 248, 228, 0.411);
  color: green;
  height: 250px;
}

.picturesBlock {
  background-color: rgba(28, 146, 28, 0.657);
  width: 25%;
}

img {
  margin-top: 15px;
}

.lorem {
  text-align: left;
  margin-left: 20px;
  font-size: 12px;
}

input {
  height: 25px;
  width: 250px;
  margin-bottom: 10px;
}

.subscribe {
  background-color: rgba(28, 146, 28, 0.452);
  border-radius: 20px;
  border-color: transparent;
  color: white;
}
