* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

body {
  background: url("../images/bg-new.png") no-repeat;
  background-size: cover;
  height: 100vh;
}

.main{
  width: 850px;
  margin: 0px auto;
  padding: 10px 0;
}

.main ul{
  text-transform: uppercase;
  list-style: none;
  padding: 15px 0;
}

.main ul li{
  float: left;
  margin-right: 20px; 
}

.main ul li a{
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
}

.clearfix{
  clear: both;
}

.main h1{
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-top: 60px;
  font-weight: lighter;
}

button.btn{
text-transform: uppercase;
border: 1px solid whitesmoke;
background-color: transparent;
border-radius: 10px;
margin-top: 80px;
padding: 20px 50px;
text-decoration: none;
color: whitesmoke;
font-size: 1.3rem;
}

.bottom-section{
  padding: 100px 0;
}

.card{
  float: left;
  margin: 0 15px;
  width: calc(100% / 4 - 30px);
  text-align: center;
  border: 1px solid whitesmoke;
  padding: 30px 5px;
  border-radius: 5px;
}

.card img{
width: 30%;
margin-bottom: 15px;
cursor: pointer;
}

.card h3{
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 15px;
}
