* {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

body {
  background-image: url("../images/background_image.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ***Table style*** */
p,
h1,
input,
button {
  font-weight: 200;
}

table.main-class {
  width: 1000px;
  margin: 80px auto;
  border: 2px solid rgb(8, 45, 168);
  text-align: center;
}

img#logo {
  width: 100px;
}

h1 {
  font-size: 36px;
  color: white;
  text-transform: uppercase;
}

tr.top-row {
  background-color: rgba(30, 143, 255, 0.5);
}

/* ***Middle row left side*** */
tr.middle-row {
  background-color: rgba(255, 255, 255, 0.7);
}

td.about {
  width: 50%;
  height: 300px;
  vertical-align: middle;
}

td.about p {
  text-align: left;
  margin: 0 20px;
}

td.form {
  vertical-align: middle;
}

tr.middle-row h3 {
  color: green;
}

/* ***Bottom row*** */
tr.bottom-row td {
  background-color: rgba(0, 128, 0, 0.664);
  height: 120px;
}

tr.bottom-row td img {
  width: 100px;
}

tr.bottom-row a {
  text-decoration: none;
  color: white;
}

/* ***Middle row right side*** */
.subscribe input {
  width: 60%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid blue;
}

.btn {
  color: aliceblue;
  width: 65%;
  font-size: 16px;
  border: 2px solid green;
  border-radius: 20px;
  padding: 5px 0px;
  margin-top: 10px;
  background-color: rgba(0, 128, 0, 0.678);
}
