* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

/*** Header ***/
#header {
  color: white;
  background: linear-gradient(
     0deg, /*наклон 0 градусов*/ 
     rgba(0, 0, 0, 1) 0%, /*зона с градиентом*/
     rgba(255, 255, 255, 0) 25%, /*25% - начинается белый цвет без градиента */
     rgba(255, 255, 255, 0) 100% /*конечная точка градиента, зона, где градиента уже нет*/
    ),
    url("../images/Tomatoes_Pasta.jpg");
  background-size: cover;
  height: 100vh;
  min-width: 800px;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

#header .nav {
  padding: 30px 0;
  overflow: hidden;
}

#header .logo {
  /*container for the logo*/
  float: left;
  width: 120px;
  height: 120px;
  background-color: red;
  border-radius: 50%;
}

.nav .logo img {
  width: 90%; /*картинка будет занимать 90% круга*/
  position: relative;
  top: 5px;
  right: 2px;
}

#header .nav ul {
  float: right;
  margin-top: 20px;
}

#header .nav ul li {
  display: inline-block;
  margin-left: 10px;
  text-transform: uppercase;
}

#header h3 {
  font-family: "Times New Roman", Times, serif;
  margin-top: 120px;
  font-size: 2.5rem;
  font-style: italic;
  opacity: 0.7; /*прозрачность для любого эл-та*/
}

#header h1 {
  font-size: 8rem;
  text-transform: uppercase;
}

#header a {
  display: inline-block; /*отменяет настройки ссылки! ссылка по умолчанию - строчный элемент*/
  margin: 20px 0 40px;
  border: 2px solid white;
  padding: 20px 80px; /*для изменения размера кнопки изнутри*/
  color: inherit; /*ссылки не наследуют свойства про умолчанию*/
  text-transform: uppercase;
  text-decoration: none;
}

#header h4 {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.746);
  text-transform: uppercase;
}

#header h4 span {
  font-weight: bold;
  color: white;
  text-decoration: underline;
}

#header h4 span:hover {
  /*стилизация под ссылку*/
  cursor: pointer;
}

/*** Recipes section ***/
#recipes {
  padding-top: 40px;
}

#recipes h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
}

#recipes .divider {
  height: 2px;
  width: 80px;
  margin: 0 auto 40px;
  background-color: tomato;
}

#recipes .card-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  _border: 1px solid white;
  position: relative;
  margin: 2px;
  flex-basis: 250px; /* размер, за который борются картинки, до wrap, при достижении спрыгивают в новый ряд. минимум, который элемент может занимать в оси*/
  margin-bottom: -2px;
}

#recipes .card img {
  width: 100%; /* ширина картинки 100% от размера карточки*/
}

#recipes .card h3 {
  position: absolute;
  top: 35%; /* расстояние сверху до текста*/
  font-size: 2rem;
  width: 100%; /* от родителя*/
  font-weight: 700;
  color: white;
}

#recipes .card h3 span {
  display: block; /*block element*/
  position: absolute; /* по отношению к родителю, у которого not static - relative or absolute */
  top: -20px;
  font-size: 1rem;
  width: 100%;
  font-weight: 300;
  font-style: italic;
  text-transform: capitalize; /* каждое слово с большой буквы*/
}

/* *** mediaQuery *** */

@media only screen and (max-width: 800px) {
  #header {
    min-height: min-content; /*мнимальный размер - содержание wrapper*/
    max-height: 600px;
  }

  #header h3 {
    margin-top: 150px;
    font-size: 1.5rem;
  }

  #header h1 {
    font-size: 4rem;
  }

  #header a {
    font-size: 0.8rem;
    padding: 10px 50px;
  }

  #header h4 {
    display: none;
  }

  .logo {
    position: absolute;
    top: 15%;
    left: calc(50% - 60px);
  }
}

@media only screen and (max-width: 500px) {
  #header .logo {
    width: 160px;
    height: 160px;
    left: calc(50% - 80px);
  }
  #header .nav ul li:not(:last-child) {
    display: none;
  }

  #header .nav ul li:last-child {
    width: 25px;
  }

  #header .nav ul li:last-child img {
    width: 100%;
  }

  #header h3 {
    margin-top: 180px;
  }

  .card {
    flex-basis: 220px;
  }

  #header h4 {
    display: inline-block;
  }

  #header h4 {
    width: 80%;
    margin: 0 auto;
  }

  #recipes .card h3 {
    font-size: 1.3rem;
  }
}
