* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  height: 100px;
  background-color: rgb(156, 131, 131);
  color: white;
}

.container {
  display: flex;
  border: 1px solid rgb(184, 3, 3);
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  background-color: royalblue;
  color: white;
  margin: 10px;
  height: 150px;
  flex-basis: calc(100% / 4 - 20px);
  /* flex-basis: 200px; */
  flex-grow: 1;
}

h2 {
  text-align: center;
  font-size: 50px;
  margin: 30px 0;
}

/* пока ширина экрана 800 применяется написанное выше, если меньше, то что в {} */
/* точка остановки, начиная с которой применяются стили */
@media screen and (max-width: 800px) {
  .container {
    width: 90%;
    border: 1px dotted green;
  }

  .card {
    flex-basis: calc(50% - 20px); /* вывод по две карточки*/
  }

  h2 {
    color: red;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 80%;
    border: none;
  }

  .card {
    flex-basis: 80%;
  }

  .nav {
    display: none;
  }

  h2 {
    color: rgb(4, 165, 111);
  }
  /* using pseudo-class*/
  .card:nth-last-of-type(odd) {
    background-color: blueviolet;
  }
}
